<!DOCTYPE html>
<html lang="en">

<head>
  <!-- basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- mobile metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <!-- site metas -->
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  {{!-- Inset Stylesheets Here --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
    integrity="sha512-t4GWSVZO1eC8BM339Xd7Uphw5s17a86tIZIj8qRxhnKub6WoyhnrxeCIMeAqBPgdZGlCcG2PrZjMc+Wr78+5Xg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" href="/css/custom.css" />
</head>

<body class="d-flex flex-column flex-wrap bg-success-subtle">
  <header class="p-4">
    <nav class="navbar fixed-top bg-black">
      <div class="container-fluid">

        <div class="col-1 d-flex flex-column align-items-center">
          <a href="../" class="navbar_title link-underline-opacity-0 link-light fw-bold">Home</a>
        </div>

        <div class="col-1 d-flex flex-column align-items-center">
          <a href="../dashboard" class="navbar_title link-underline-opacity-0 link-light fw-bold">Dashboard</a>
        </div>

        <div class="col-1 d-flex flex-column align-items-center">
          <a href="../profile" class="navbar_title link-underline-opacity-0 link-light fw-bold">Profile</a>
        </div>

        <div class="col-1 d-flex flex-column align-items-center">
          {{#if logged_in}}
          <a href="../" id="logout" class="navbar_title link-underline-opacity-0 link-light fw-bold">Log Out</a>
          {{else}}
          <a href="../login" id="login" class="navbar_title link-underline-opacity-0 link-light fw-bold">Log In</a>
          {{/if}}
        </div>


      </div>
      <div class="d-flex container-fluid">
        <h1 class="justify-content-start black bg-success-subtle rounded mt-4 px-4 pb-2">Faux Blog</h1>
       <h2 id="clock" class="justify-content-end black bg-success-subtle rounded mt-4 px-4 pb-2"></h2>
      </div>
    </nav>

  </header>

  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>

  <!--  footer -->
  <footer class="pt-5">
  </footer>

  {{!-- Insert Javascript Here --}}
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script src="/js/logout.js"></script>

</body>

</html>