.card-bodyRB {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bs-card-color);
}

.scrollable-ul {
    max-height: 55vh;
    overflow-y: auto;
}

.form-group {
    text-align: center; /* This will center the text within the label. */
}

.post-card {
    transition: 0.3s; /* This will animate the scaling. */
}

.post-card:hover {
    transform: scale(1.1);
    background-color: darken(black, 10%);
  }